<h1 style="text-align:center;color:black">Charles MacCabe</h1>

<img src="/static/Charlie.png"/>

<h1 style="text-align:center;color:black">Education</h1>


<body style="background-color:powderblue;">


<h2> James Madison University</h2>

<p1> •	BS, Integrated Science & Technology (ISAT) Major 
					Concentration: Applied Computing</p1>



<h1 style="text-align:center;color:black">Work Experience</h1>

<h2> Spitony's Pizza </h2>

<h3> General Manager 2016-2023</h2>

<p1>- Facilitated upervised a diverse staff of 20+ employees</p1>
<p1>- Managed company inventory as liaison to food service distributors</p1>
<p1>- Facilitated store operations and training of new hires</p1>
 
 <h1 style="text-align:center;color:black">Course Work</h1>
 
<p1> •	Utilized Stella Architect to develop both a susceptible, exposed, infective, and recovered (SEIR) model to 
track COVID-19, as well as causal loop diagram for predicting the transition of Virginia’s electrical generation </p1>

<p1>•	Investigated the dilemmas and stakeholders of Virginia’s electrical grid transition in accordance to the Virginia Clean Economy Act  </p1>

<p1> •	Applied a variety of sensors, actuators, controls and programmable logic controllers (PLCs) in constant process flexible manufacturing systems  </p1>
 
 <h