<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

<style>
  body {background-color: black;}
  img {display: block;margin-left: auto;margin-right: auto;width:400px;}
  h1 {color: white;text-align: center;}
  h2 {color: white;text-align: center;}
  h3 {color: white;text-align: center;}
  p {color: white;text-align: center;}
</style>

</head>
<body>
  <img src="https://media.licdn.com/dms/image/D4D03AQE6aMevKmpdAg/profile-displayphoto-shrink_800_800/0/1648183116115?e=2147483647&v=beta&t=Oi7Upq79l8j1ObiuXRwJ9_WfJhWdYHJQCvEI4Cmdwrw" alt="hiroki.pic">
  <h1>Hiroki Miyabayashi</h1>
  <p>Integrated Science & Technology (ISAT) - ABET Accredited</p>
  <p>Bachelor of Science, Concentration in Applied Computing</p>
  <p>James Madison University</p>
  <h2>University Projects</h2>
  <h3>Foodtrac App- Capstone Project</h3>
  <p>An app that you can use to track and monitor your food items to help you use the foods before it becomes spoiled and thrown away to limit the amount of food waste</p>
  <h2>Skills</h2>
  <p>HTML, CSS, Python, JavaScript</p>
</body>
</html>